<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.com.celk.CordovaApplication"
        versionCode = "10" 
        version     = "2.0" >

    <name>CordovaApplication3</name>

    <description>
        Descrição sobre a aplicação
    </description>

    <author href="http://www.celk.com.br" email="claudio@celk.com.br">
        Claudio
    </author>
    <access origin="*"/>

    <gap:plugin name="org.apache.cordova.contacts" version="0.2.9" />
    <gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
    <gap:plugin name="com.millerjames01.sqlite-plugin" version="1.0.1" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="204305149755784" />
        <param name="APP_NAME" value="claudiotesteapp" />
    </gap:plugin>
    <!--<gap:platform name="ios" />-->
    <gap:platform name="android" />
    <gap:platform name="winphone" />
</widget>
